<html>
<head>
<title>Generate images from your source code listings</title>
<meta name="keywords" content="source code image generator, LaTeX, source code, source listing, pdf, png"/>
<meta name="description" content="An online source code image generator tool. Uses LaTeX to generate high quality typeset images"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="EN"/>
<meta name="robots" content="index, nofollow"/>
<link rel="icon" type="image/png" href="static/favicon-64.png"/>
{% autoescape false %}
{{ extra_head }}
{% endautoescape %}
</head>
<body>
<!-- GitHub banner -->
<a href="https://github.com/mumrah/source2image"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<h1>Source Code Image Generator</h1>
<p>Uses LaTeX "listings" package to generate high quality typeset images of your source code</p>
<!-- Actual content -->
<form action="/render" method="post">
  <div style="float:left">  
  <textarea style="text-align:top;font-family:monospace" name="source" rows="24" cols="80">{{ source }}</textarea>
  </div>
  <div style="float:left; margin-left:1em;">  
  <em>Language:</em></br>
  <select name="lang" id="lang">
      {% for lang in languages %}
      <option value="{{ lang }}">{{ lang }}</option>
      {% endfor %}
  </select>
  </br>
  </br>

  <em>Display Mode:</em></br>
  <input type="radio" name="mode" value="display" checked="true">display</input>
  <input type="radio" name="mode" value="download">download</input>
  </br>
  </br>

  <em>Format:</em></br>
  {% for fmt in formats %}
  <input type="radio" name="format" value="{{ fmt }}" {% if loop.index == 1 %}checked="true"{% endif %}>{{ fmt }}</input>
  {% endfor %}
  </br>
  </br>

  <em>Background:</em>
  <input onclick="document.getElementById('alpha').checked=false;" style="vertical-align:text-bottom" type="color" value="#FFFFFF" name="background"/>
  </br>
  </br>

  <em>Transparency:</em>
  <input type="checkbox" checked="true" name="alpha" id="alpha"/>
  </br>
  </br>

  <button type="submit" style="font-size:0.8em; padding: 1em 3em">Render</button>
  </div>
</form>
<div style="clear:both; padding:1em;"/>
</hr>
{% autoescape false %}
{{ extra_foot }}
{% endautoescape %}
</body>
</html>
